.big {
    color: blue;
}

.container {
    border: 1px solid green;
}

#b325 {
    border-bottom: 1px solid green;
}

.b329, .b326, #b325 {
    font-weight: bold;
}

p {
    font-weight: normal;
    background: yellow;
}